{% load static %}
{% load icon %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
  {% comment %} <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> {% endcomment %}

    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'index' %}">
            {% icon 'activity' %}
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'timesheet' %}">
            {% icon 'file-plus' %}
            Timesheet
          </a>
        </li>
        {% if perms.timesheet_app.can_view_report %}
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'report' %}">
            {% icon 'file-text' %}
            Reports
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>