{% extends 'base.html' %}
{% block content %}
{% load icon %}
<div class="container mt-5 mb-5 bg-light p-4 rounded">
    <div class="row">
    <div class="col-md-10"></div>
    <button type="button" class=" col-md-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_timesheet"> {%icon 'plus-circle'%} Add Timesheet</button>
    </div>
    <table id="example" class="table table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Project</th>
            <th>Activity</th>
            <th>Timespent</th>
            {% comment %} <th>Overtime</th> {% endcomment %}
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for report in reports %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{report.date}}</td>
            <td>{{report.project}}</td>
            <td>{{report.description|truncatechars:15}}</td>
            <td>{{report.duration}} min</td>
            {% comment %} <td>{{report.overtime}} min</td> {% endcomment %}
            <td>
              <div class="d-flex ">
                <a href="{% url 'edit' report.id %}" class="nav-link text-primary"> {% icon 'edit' %} </a>
                <a href="{% url 'delete' report.id %}" class="nav-link text-danger"> {% icon 'trash-2' %} </a>
              </div>
           </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="add_timesheet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 text-light" id="staticBackdropLabel">Add Timesheet</h1>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'timesheet' %}" method="post">
                {% csrf_token %}
                <div class="card">
                  <div class="card-body">
                   <div class="form-group fw-semibold">
                      <label for="nameField">Name</label>
                      <input type="text" id="nameField" name="name" class="form-control" value="{{user.get_full_name}}" required readonly />
                   </div>
                   <div class="form-group fw-semibold">
                      <label for="nameField">Staff Code</label>
                      <input type="text" id="staffCodeField" name="staff_code" class="form-control" value="{{user.staff_code}}" required readonly />
                    </div>
                    <div class="form-group fw-semibold">
                        <label for="dateField">Date</label>
                        <input type="date" id="dateField" name="date" class="form-control" required />
                    </div>
                    <div class="form-group fw-semibold">
                      <label for="projectField">Project</label>
                      <select class="form-control" name="project" aria-label="Select project">
                        {% comment %} Enter project options here {% endcomment %}
                        <option selected>Select project</option>
                        <option value="PRAISE">PRAISE</option>
                        <option value="AIM 3">AIM 3</option>
                        <option value="EPI MAL 002">EPI MAL 002</option>
                        <option value="PRISMA">PRISMA</option>
                      </select>
                      {% comment %} <input type="text" name="project" class="form-control" id="projectField" placeholder="Enter project name" required /> {% endcomment %}
                    </div>
                    <div class="form-group fw-semibold">
                      <label for="descriptionField">Activity</label>
                      <textarea name="description" id="descriptionField" rows="5" class="form-control" placeholder="What did you work on" required> 
                      </textarea>
                    </div>
                    <div class="form-group fw-semibold">
                      <label for="durationField">Timespent (in minutes)</label>
                      <input type="number" name="duration" class="form-control" id="durationField" placeholder="eg, 30" required/>
                    </div>
                     {% comment %} <div class="form-group fw-semibold">
                      <label for="overtimeField">Overtime (in minutes)</label>
                      <input type="number" name="overtime" class="form-control" id="overtimeField"/>
                    </div> {% endcomment %}
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
            </form>
            
        </div>
      </div>
    </div>
</div>


{% endblock %}