{% extends 'base_auth.html' %} 
{% load static %}
{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center mt-3">
  <h2 class="text-secondary fw-bold">KHRC TIMESHEET APPLICATION</h2>

  <img src="{% static 'img/logo.png' %}" alt="logo">

</div>
<div class="row mb-4">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title px-2">  
          <h4>Login</h4>
        </div>

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}
          <div class="form-group p-2">
            <label for="usernameField"> Email or Username: </label>
            <input
              type="text"
              name="username"
              id="usernameField"
              class="form-control form-control-sm"
              placeholder="Enter email or username"
              required
            />
            <div class="username-feedback invalid-feedback" style="display: none;">
            </div>
            <p class="text-sm text-success usernameSuccess"></p>
          </div>
          <div class="form-group p-2">
            <label for="passwordField"> Password: </label>
            <input
              type="password"
              name="password"
              id="passwordField"
              class="form-control form-control-sm"
              placeholder="Password"
              required
            />
            <small class="float-end p-2 showPassword">SHOW</small>
          </div>
          <input type="submit" value="Login" class="btn btn-primary w-100 submitBtn" />
          <p class="d-flex justify-content-center mt-2">Forgot password? <a href="{% url 'reset_password' %}"> reset it</a></p>
          <p class="d-flex justify-content-center mt-2">Don't have an account? <a href="{% url 'register' %}"> register</a></p>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script>
  // Toggle password show and hide
  const passwordField = document.getElementById("passwordField");
  const showPasswordBtn = document.querySelector(".showPassword");
  
  showPasswordBtn.addEventListener('click', function() {
    if (showPasswordBtn.textContent === "SHOW") {
      showPasswordBtn.textContent = "HIDE";
      passwordField.type = "text";
    } else {
      showPasswordBtn.textContent = "SHOW";
      passwordField.type = "password";
    }
  });
  </script>

{% endblock %}
